@import 'bootstrap';
@import 'responsive';
@import 'colors';
@import 'loader';


body, html {
	background-color: $bg-color;
	color: white;
}

hr {
	height: 5px;
	margin-left: 0;
	width: 150px;
	border: 0;
	background: $main-gradient;
	margin-bottom: 2em;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
	color: white;
}

nav {
	background-color: $bg-lighter;
	height: 70px;
}

section {
	padding: 4em 0;
}

footer {
	background-color: black;
	height: 80px;
	text-align: center;
	
	p {
		line-height: 80px;
		margin: 0;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
	}

	&::after {
		content: '';
		background: $main-gradient;
		position: relative;
		bottom: 0px;
		height: 5px;
		width: 100%;
		display: block;
	}
}

button {
	margin: 1em 0;
	margin-right: 1em;
	border: 0;
	padding: 2px;
	position: relative;
	background: $main-gradient;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 0.8em;
	color: white;

	&>span {
		padding: 0.5em 1em;
		background-color: $bg-color;
		display: block;
	}
}


form {
	background-color: $bg-lighter;
	padding: 1em;
	margin-bottom: 1em;
	// height: 280px;
	input, textarea, select {
		width: 100%;
		background-color: $bg-color;
		border: none;
		border-radius: 5px;
		padding: 5px;
		resize: none;
		color: white;
	}
	select {
		height: calc(1.5em + .75rem + 2px);
	}
}

table {
	background-color: $bg-lighter;
	thead {
		background: $main-gradient;
	}
	&.table thead th {
		border: 1px solid $bg-color;
	}
	td, th {
		border: 1px solid $bg-color;
	}

	&.main-table {
		td, th {
			vertical-align: middle;
		}
		tr { 
			height: 55px;
		}
		// height: 280px;
	}
}

.textbox {
	border: 10px solid $bg-lighter;
	padding: 2em;
}

.main-body>.row {
	padding: 20px 0;
}

.nav-btns {
	text-align: center;
	// position: absolute;
	// width: 100%;
	a {
		display: inline-block;
		width: 70px;
		height: 70px;
		font-size: 30px;
		color: white;
		position: relative;
		line-height: 70px;
		margin: 0;
		transition: all 0.2s ease;
	}
	#user-btn {
		margin-right: -5px;
		background-color: $color1;
		&:hover {
			background-color: $color1-lighter;
		}
	}
	#menu-btn {
		background-color: $color2;
		&:hover {
			background-color: $color2-lighter;
		}
	}
}

.viewElection {
	padding: 5px 10px;
	margin: 0px;
	font-weight: bold;
	border-radius: 5px;
	color: white;
}

.viewElectionButton {
	text-align: center;   
}

.section {
	padding-top: 0px;
}

#voteSubmit {
	width: 100%;
}

#electionsList {
	min-height: 350px;
}

.controlPanel {
	padding: 10px 18px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 0.6em;
	background-color: white;
}

.newCandidateForm{
	width: 100%;
}

.editElection {
	padding: 10px 30px;
	margin: 0px;
	font-weight: bold;
	border-radius: 5px;
	color: white;
}
